<!-- ========== FOOTER ========== -->
<footer id="contact" class="site-footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-logo-nav">
        <img src="/img/logo-print-10.png" alt="Clean Vibez VIP" class="footer-logo">
        <nav class="footer-nav">
          <a href="#hero">Home</a>
          <a href="#services">Services <span class="footer-nav-arrow">▼</span></a>
          <a href="#">Blog</a>
          <a href="#">Help Center</a>
          <a href="#story">About</a>
        </nav>
      </div>
      <div class="footer-social">
        <a href="#"><img src="/img/youtube.svg" alt="YouTube"></a>
        <a href="#"><img src="/img/fb.svg" alt="Facebook"></a>
        <a href="#"><img src="/img/twitter.svg" alt="Twitter"></a>
        <a href="#"><img src="/img/insta.svg" alt="Instagram"></a>
        <a href="#"><img src="/img/linkedin.svg" alt="LinkedIn"></a>
      </div>
    </div>
    <hr class="footer-divider">
    <div class="footer-bottom-row">
      <div class="footer-copyright">
        <span>cleanvibez &copy; 2026. All rights reserved.</span>
      </div>
      <!-- <form class="footer-newsletter-form">
        <div class="footer-newsletter-input-wrapper">
          <span class="footer-newsletter-icon">
            <svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5 17C13.0899 17 16 14.0899 16 10.5C16 6.91015 13.0899 4 9.5 4C5.91015 4 3 6.91015 3 10.5C3 14.0899 5.91015 17 9.5 17Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 21L15 15" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          <input type="email" placeholder="Enter your email to get the latest news..." class="footer-newsletter-input">
        </div>
        <button type="submit" class="footer-newsletter-btn">Search</button>
      </form> -->
    </div>
  </div>
</footer>
